.item{
    width: 25%;
    padding: 20px;
    margin: 2%;
}

.item .link{
    text-decoration: none;
    color: rgb(23,12,15);
}

.item img{
    width: 80%;
    object-fit: cover;
    margin: 0 10%;
}

.item img:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}

.item h3{
    font-size: 1.2rem;
    margin: 10px 0;
    text-align: center;
    color: rgb(23,12,15);
}

.item p{
    font-size: 1rem;
    margin: 10px 0;
    text-align: center;
    color: rgb(23,12,15);
}

.flip{
    transform: rotateX(180deg);
    transition: transform 0.5s;
}

.reset{
    transform: rotateX(0deg);
    transition: transform 0.5s;
}