.nav{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: rgb(23,12,15);
}

.nav .nav-logo img{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

}

.nav ul li a{
    margin: 0 10px;
    color: #F2A25C;
    font-weight: bold;
    text-decoration: none;
}

.nav ul li a:hover{
    color: #f3b986;
    cursor: pointer;
    text-decoration: underline;

}