.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin : 40px;
    align-items: center;
    width: 25%;
}

.form input{
    width: 100%;
    height: 30px;
    margin: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid rgb(23,12,15);
}

.form input:focus{
    outline: none;
}

label{
    align-self: flex-start;
    font-weight: bold;
    margin-top: 20px;
}

.submit{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: none;
    background-color: rgb(23,12,15);
    color: #F2A25C;
    font-weight: bold;
    cursor: pointer;   
}

.submit:disabled{
    background-color: rgba(23,12,15,0.5);
}